
.background {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

html {
    min-height: 100%;
    background-image: url('../images/spacex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

conteneur {
    display: flex;
    align-items: center;
}
  
img {
    border-radius: 40px;
    box-shadow: 0px 1px 88px -3px rgba(16,219,195,0.75);
    -webkit-box-shadow: 0px 1px 88px -3px rgba(16,219,195,0.75);
    -moz-box-shadow: 0px 1px 88px -3px rgba(16,219,195,0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Countdown timer*/

#countdown-timer{
    text-shadow: 0px 0px 16px rgba(47, 234, 255, 1);
	font-family: 'Ubuntu Mono', monospace;
	color: #fff;
	display: inline-block;
	font-weight: 60;
	text-align: center;
	font-size: 26px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown-timer > div{
	border-radius: 2px;
	display: inline-block;
}

@media (max-width: 350px) {
	#countdown-timer > div{
		padding: 10px 5px 5px 5px;
	}
}

#countdown-timer div > span{
	border-radius: 2px;
	display: inline-block;
}

.text{
	padding-top: 3px;
	font-size: 15px;
}