html
  head
    title=MyCryptOfolio
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css")
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>