include partials/header.pug
body(class='background-image')
    div(class='conteneur')
        img(src='/images/logo3.png' alt='logo' style='width:200px; height:200px;')
        div(id='countdown-timer')
        script
            include ../countdown.js

    
